/*background image*/
body{
    background-image: url('https://wallpapercave.com/wp/ZaHQ4Jf.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    overflow-x: hidden;
}

/*heading for no favourites*/
h5{
    margin-left: 40%;
    margin-right: 40%;
}
