body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallpapercave.com/wp/ZaHQ4Jf.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.list-group-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.superHero-details{
    width: 20%;
}